<a href="https://colab.research.google.com/github/germanaugusto2/ejercicio_for/blob/main/Ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

instruccion repetitiva en for

In [ ]:
# Ejercicio 1: mostrar los numeros del 1 al 10, sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# Ejercicio 2:mostrar los numeros del 1 al 10, usando la instruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [ ]:
# Ejercicio 3: mostrar los numeros del 1 al 10, usando la instrucucion for y una lista iterable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
 # Ejercicio 4: mostrar los numeros del 1 al 10, usando la funcion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# Ejercicio 5: mostrar una frase 10 veces usando la instruccion for y una lista

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(f"{i}sistemas el mejor!!!")

In [ ]:
# Ejercicio 6: mostrar la silaba inicial de los  dias de la semana, usando for y una silaba inicial de los dias de la semana

dias_semana = ["lu",  "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# Ejercicio 7: mostar una lista de distintos tipos de datos, usando for

lista = [1, 3, 4, 9, True , "nestor",8, "guanenta"]
for i in lista:
  print(i)

In [ ]:
# Ejercicio 8: ingrear su nombre y mostrarlo letra a letra, usando for.

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# Ejercicio 9: ingresar su nombre y mostarlo letra a letra,usando for, cambiando por asterisco * a la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
   if letra == "e":
     print("*")
else:
       print(letra)

In [ ]:
# Ejercicio 10: ingresar su nombre y mostarlo letra a letra, en mayuscula,usando for.

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# Ejercicio 11: imprimir letras de numero usando for y range

print("Numeros del 0 al 9")
for i in range(10):
  print(i)

  print("Numeros del 1 al 10")
  for i in range(1,11):
    print(i)
    
print("10 veces la frase")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frase i =")
for i in range(10):
  print("i = " + str(i))

print("10 veces i = ")
for i in range(10):
  print(f" i = {i}")

print("Rango del 7 al 18; incrementando en 4 en 4")
for i in range(7,19,4):
  print(i)

print("Convierte en rango en lista a, y la muestra")
a = list(range(1000))
print(a)

#Ejercicios
1. Dada la siguiente lista de numeros [20,21, 30, 41, 50, 51, 201]mostrar en pantalla solo los queno terminen 1.
2. mostrar 1000 veces la palabra "programacion"
3. Del conjunto decadenas ["E", "F", "M", "A"]que corresponden
a las iniciales de los primeros 4 meses del año, mostrar el nombre completo  de dichos meses.
4. Leer un texto y determinar cuantas veces dichos textos contiene cada una de las vocales en minuscula y/o mayuscula

In [ ]:
#Ejercicio 1

print("numeros que no terminen en 1")
numeros = [20, 21, 30, 41, 50, 51, 201]

for num in numeros:
  if num % 10 != 1:
    print(num)

In [ ]:
#EJERCICIO 2

print("100 veces la plabra progromacion")
for i in range(100):
    print("programacion")

In [ ]:
#ejercicio 3

print("primeros 4 meses del año")
meses = {
    "E": "Enero",
    "F": "Febrero",
    "M": "Marzo",
    "A": "Abril"
}

for letra in ["E", "F", "M", "A"]:
    print(meses[letra])

In [ ]:
#Ejercicio 4

print("texto en minuscula y/o mayuscula")
texto = "Este es un ejemplo de texto para contar las vocales"
recuento_vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

for caracter in texto:
    if caracter.lower() in 'aeiou':
        recuento_vocales[caracter.lower()] += 1

print("Recuento de vocales en el texto:")
print("A: ", recuento_vocales['a'])
print("E: ", recuento_vocales['e'])
print("I: ", recuento_vocales['i'])
print("O: ", recuento_vocales['o'])
print("U: ", recuento_vocales['u'])